<html>
	<head>
		<title>Create Record</title>	
        <style>
body, html {
  margin: 0;
}
h1 {
  font-size: 70px;
}
p {
  font-size: 30px;
}
.image {
  background-image: url("https://i.redd.it/17mxcmh443x51.png");
  height: 140%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bt {
  background-color: #81f385;
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 40%;
  opacity: 0.8;
}

.bt:hover {
  opacity: 1;
}

</style>
	</head>

	<body onload="select()">
	<div class="image">
			<h1> Create Record </h1>
			<h3>You are creating a record of: <%=name%></h3>
			
			<p id="photo">Photo: </p>	
			
			<p>
			
			Borough: <%=borough%><br>
			Cuisine: <%=cuisine%>><br>
			Street: <%=street%>><br>
			Building: <%=building%><br>
			Zipcode: <%=zipcode%><br>
			GPS: <%=lon%> , <%=lat%><br>
			Rating:	To be rated <br>
			Created by: <%=owner%><br>
			
			</p>
			
			<p id="map">Location: </p>
			<p>
			
			<br>
			<button onclick="window.location.href='/rate?_id=<%=_id%>&name=<%=name%>'"class="bt">Rate restaurants</button>
			<br><br>
			<button onclick="window.location.href='/change?_id=<%=_id%>'"class="bt">Edit restaurants</button>
			<br><br>
			<button onclick="window.location.href='/delete?_id=<%=_id%>'"class="bt">Delete restaurants</button>
			<br><br>
			<button onclick="window.location.href='/'"class="bt">Back to home</button>
			<br>
			</p>
			</div>
            </div>
            
	</body>
</html>
<script>
	function select() 
	{
		let isPhoto = <%=showphoto%>;
		let isMap = <%=havemap%>;										
	
		if (isPhoto) 
			{
			photo = '<img src="data:<%=mimetype%>;base64, <%=photo%>"><hr>';
			} 
			else{
			photo = 'Photo missing, please add a photo.';
			}
					
		if (isMap) 
			{
			map = '<a href="/gmap?lon=<%=lon%>&lat=<%=lat%>&name=<%=name%>">Google Map</a>';
			}
			else{
			map = 'Map location missing, please add GPS coordinates:';
			}										
			
			document.getElementById("photo").innerHTML = photo;
			document.getElementById("map").innerHTML = displaymap;					
	}
</script>


